## Introduction
The dataset is used for this competition is synthetic, but based on a real dataset and generated using a CTGAN. The original dataset deals with predicting the biological response of molecules given various chemical properties. Although the features are anonymized, they have properties relating to real-world features. 

Submissions are evaluated on **area under the ROC Curve** between the predicted probability and target.

In [1]:
%load_ext autoreload

%autoreload 2

## Imports

In [2]:
import os
import gc

gc.enable()
import warnings

import pandas as pd

warnings.filterwarnings("ignore")

%matplotlib inline

## Data

In [55]:
data = pd.read_csv("../data/train_sample.csv")

print("Quick view of training data: ")
data.head()

Quick view of training data:

,Unnamed: 0,id,f0,f1,f2,f3,f4,f5,f6,f7,...,f276,f277,f278,f279,f280,f281,f282,f283,f284,target
0,987231,987231,0.258083,0.476128,0.092112,0.322923,0.521820,0.486495,0.396332,0.555542,...,0,1,0,0,0,0,0,1,0,1
1,79954,79954,0.224804,0.544226,0.013503,0.318586,0.521025,0.384865,0.447314,0.638106,...,0,1,0,1,0,0,0,1,0,1
2,567130,567130,0.161541,0.385559,0.018169,0.218886,0.551338,0.421737,0.368252,0.774840,...,1,0,0,0,0,0,1,0,0,0
3,500891,500891,0.179130,0.412129,0.093062,0.243488,0.792322,0.446235,0.473653,0.660456,...,0,0,0,0,0,0,0,0,0,0
4,55399,55399,0.208438,0.439550,0.095057,0.299666,0.506755,0.529877,0.397182,0.637597,...,0,0,0,0,0,0,0,0,0,1

In [61]:
sample = data.drop("Unnamed: 0", axis=1).sample(n=100)#
sample.to_csv("../src/test/data/test_sample.csv", index=False)

In [46]:
sys.path.append("..")

In [73]:
from src import prepare
from src import featurize
# from src import train
# from src import evaluate

In [69]:
train, test = prepare.prepare(sample, 0.3, 4)

2023-03-05 18:01:06.520 | INFO     | src.prepare:prepare:42 - Preparing completed

Memory usage : 0.06MB


Memory usage : 0.06MB
Compress Rate: [0.00%]

In [70]:
train.shape

(70, 287)

In [71]:
test.shape

(30, 287)

In [72]:
train

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f277,f278,f279,f280,f281,f282,f283,f284,mean,target
25606,0.161987,0.335449,0.006561,0.273682,0.574707,0.338623,0.501465,0.709961,0.391113,0.342773,...,0,0,0,0,0,0,0,0,0.257324,0
40605,0.203979,0.476074,0.179321,0.311279,0.608398,0.439697,0.406738,0.729004,0.297119,0.297852,...,0,0,0,0,0,0,0,0,0.240356,1
16871,0.251953,0.427490,0.177124,0.284912,0.421875,0.454102,0.238037,0.762695,0.705078,0.148193,...,0,0,0,0,0,0,0,0,0.254150,1
65459,0.184082,0.775879,0.104431,0.248535,0.463379,0.381104,0.115479,0.600098,0.529785,0.150269,...,0,0,0,0,0,0,0,1,0.241455,1
84706,0.247803,0.636230,0.439697,0.375732,0.469727,0.452393,0.420410,0.637207,0.433350,0.156616,...,1,0,1,0,0,0,0,0,0.241211,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38903,0.248047,0.291748,0.016037,0.255615,0.457764,0.410889,0.523926,0.651367,0.319336,0.161499,...,0,0,1,0,0,0,0,0,0.254883,1
21991,0.180176,0.502441,0.086670,0.246094,0.480713,0.495605,0.535645,0.548340,0.522461,0.155151,...,0,0,0,0,0,0,1,0,0.264160,0
17982,0.205811,0.557617,0.244873,0.225586,0.546387,0.490479,0.457520,0.596191,0.487305,0.314941,...,0,0,0,0,0,0,1,0,0.264160,1
66353,0.182617,0.406738,0.093506,0.207275,0.630371,0.449707,0.655273,0.611816,0.431641,0.220581,...,1,0,0,0,0,0,0,1,0.241211,0
6365,0.208496,0.348877,0.180420,0.304443,0.532715,0.420898,0.473389,0.542969,0.425537,0.581543,...,0,0,0,0,1,0,0,0,0.221191,1

In [76]:
train, test, train_target, test_target, scaler = featurize.fearurize(train, test, 100)

2023-03-05 18:14:21.759 | INFO     | src.featurize:fearurize:41 - Featurization completed

In [79]:
train_target.shape

(70,)